*{
    margin: 0px;
    box-sizing: border-box;
    transition: .3s;
}
*::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

header{
    z-index: 99;
  }



.active_tap{
    color: rgb(7, 97, 7);    
}
.active_tap::after{
    content: '';
    position: absolute;
    display: flex;
    width: 130%;
    height: 0.1cm;
    background-color: rgb(7, 97, 7);
    display: flex;
    align-self: flex-end;
}

.lg-devies-menu a div,.mob_menu a div{
    content: '';
    position: absolute;
    display: flex;
    width: 0%;
    height: 0.1cm;
    background-color: rgb(7, 97, 7);
    display: flex;
    align-self: flex-end;
}

.lg-devies-menu a:hover div,.mob_menu a:hover div{
    width: 130%;
}

.hamburger {
    cursor: pointer;
    width: 1cm;
    height: 1cm;
    position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 1cm;
    height: .3rem;
    top: 0px;
    left: 0px;
    background-color: #000;
    border-radius: 2rem;
}

.hamburger-middle{
   transform: translateY(0.33cm);
}

.hamburger-bottom{
    transform: translateY(0.66cm);
 }

.open .hamburger-middle{
    display: none;
}

.open .hamburger-top {
    transform: translateY(0.5cm) rotateZ(45deg);
}
.open .hamburger-bottom{
    transform: translateY(0.5cm) rotateZ(-45deg);
}

.mob_menu{
    box-shadow: 2px 4px 6px rgb(207, 207, 207);
    z-index: 10;
}

.carousel{
    height: 8cm;
}
.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
    background-image: url('images/poultryfarm.jpg') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.carousel-item:nth-child(2){
    background-image: url('images/Hydro_System.png') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
}
.carousel-item:nth-child(3){
    background-image: url('images/Chick-hatched-in-incubator.jpg') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
}
@media only screen and (min-width: 760px) {
    .carousel{
        height: 13cm;
    }
  }