*{
    margin: 0px;
    box-sizing: border-box;
    transition: .3s;
}

header{
    z-index: 99;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(30deg,rgba(255,255,255,0.9),rgba(255, 255, 255, 0.89),rgba(255,255,255,0.6));
    backdrop-filter: blur(20px);
  }



.active_tap{
    color: rgb(7, 97, 7);    
}
.active_tap::after{
    content: '';
    position: absolute;
    display: flex;
    width: 130%;
    height: 0.1cm;
    background-color: rgb(7, 97, 7);
    display: flex;
    align-self: flex-end;
}

.lg-devies-menu a div,.mob_menu a div{
    content: '';
    position: absolute;
    display: flex;
    width: 0%;
    height: 0.1cm;
    background-color: rgb(7, 97, 7);
    display: flex;
    align-self: flex-end;
}

.lg-devies-menu a:hover div,.mob_menu a:hover div{
    width: 130%;
}

.hamburger {
    cursor: pointer;
    width: 1cm;
    height: 1cm;
    position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 1cm;
    height: .3rem;
    top: 0px;
    left: 0px;
    background-color: #000;
    border-radius: 2rem;
}

.hamburger-middle{
   transform: translateY(0.33cm);
}

.hamburger-bottom{
    transform: translateY(0.66cm);
 }

.open .hamburger-middle{
    display: none;
}

.open .hamburger-top {
    transform: translateY(0.5cm) rotateZ(45deg);
}
.open .hamburger-bottom{
    transform: translateY(0.5cm) rotateZ(-45deg);
}

.mob_menu{
        z-index: 10;
}

.carousel{
    height: 8cm;
}
.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
    background-image: url('images/poultryfarm.jpg') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.carousel-item:nth-child(2){
    background-image: url('images/Hydro_System.png') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
}
.carousel-item:nth-child(3){
    background-image: url('images/Chick-hatched-in-incubator.jpg') , linear-gradient(rgb(18, 85, 5),rgb(17, 31, 19),rgb(3, 31, 8));
}

.img-div::after{
   content: "";
   height: 100%;
   width: 0%;
   z-index: 1;
   background-color: rgba(44, 151, 29, 0.726);
   transition: .3s;

}
.img-div::before{
    content: "";
    position: absolute;
    height: .1cm;
    width: 0%;
    z-index: 2;
    background-color: rgb(255, 255, 0);
    bottom: 0px;
    transition: .3s;

 }
 .circle::after{
    content: "";
    height: 0%;
    width: 0%;
    z-index: 3;
    background-color: rgba(255, 255, 29, 0.544);
    transition: .3s;
 } 
.serContainer{
    height:13cm;
    width:7cm
}
.serContainer:hover .circle::after{
    width: 100%;
    height: 100%;
}
.serContainer:hover .img-div::after,.serContainer:hover .img-div::before{
    width: 100%;
}

.circle{
    transform: translateY(-1cm);
    z-index: 3;
    border-color: yellow;
}

.shopwrapper{
    height: 9.0cm;
    width: 6.5cm;
}

.agric{
    background-image: url('images/video-one-bg.jpg');
    background-position: 0%;
    background-attachment: fixed;
    background-origin: content-box;
}

.wave{
    height: 2cm;
    width: 2cm;
    animation: expan 4s infinite;
    border: 2px solid ;
    border-color: rgb(251,146,60);
}
.wave:nth-child(2){
    animation-delay: .5s;
}
.wave:nth-child(3){
    animation-delay: 1s;
}
.wave:nth-child(4){
    animation-delay: 1.5s;
}
.wave:nth-child(5){
    animation-delay: 2s;
}
.wave:nth-child(6){
    animation-delay: 2.5s;
}
.wave:nth-child(7){
    animation-delay: 3s;
}
.wave:nth-child(8){
    animation-delay: 3.5s;
}
.wave:nth-child(9){
    animation-delay: 4s;
}
@keyframes expan {
    100%{ height: 6cm;
        width: 6cm;
        border-color: transparent}
}
.inputDiv{
    border-color: rgb(180, 230, 180);
}

.inputDiv.focus{
    border-color: green;
}
.inputDiv.focus span{
    transform: translateY(-.77cm);
    background-color: white;
}
.Sub_inputDiv.focus{
    border-color: rgb(245, 173, 39);
}
.Sub_inputDiv.focus span{
    transform: translateY(-.77cm);
    background-color: rgb(7, 97, 7);
}

@media only screen and (min-width: 760px) {
    .carousel{
        height: 13cm;
    }
  }